@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
	font-feature-settings: 'case', 'ss01', 'ss02', 'cv12', 'cv13';
}

@layer base {
	body {
		@apply antialiased;
		@apply bg-ctp-base text-ctp-text;
	}
}

@layer components {
	#app {
		@apply pt-12 pb-36 px-6 max-w-[90ch] mx-auto;
	}

	.inline-link {
		@apply underline underline-offset-2 text-ctp-rosewater decoration-ctp-rosewater/50 hover:decoration-ctp-rosewater/70 transition-all;
	}
}
