/* Write your global styles here, in PostCSS syntax */

@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
	body {
		@apply bg-ctp-base text-ctp-text;
	}
}

@layer components {
	.inline-link {
		@apply underline underline-offset-2 text-ctp-rosewater decoration-ctp-rosewater/50 hover:decoration-ctp-rosewater/70 transition-all;
	}
}
